@page
@model ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password!
</p>

<hr />
<h1>DEBUG</h1>
<p>
    Die Anwendung ist für die Entwicklung konfiguriert.
    Die E-Mail wurde nicht wirklich gesendet. Klicken Sie auf diesen Link, um Ihr Passwort zurückzusetzen:
</p>
<p>
    <a href="@Model.DebugLink">@Model.DebugLink</a>
</p>

@* --- START: DEBUG-CODE ANPASSEN --- *@
@if (!string.IsNullOrEmpty(Model.DebugLink))
{
    <hr />
    <h1>DEBUG</h1>
    <p>
        Die Anwendung ist für die Entwicklung konfiguriert.
        Die E-Mail wurde nicht wirklich gesendet. Klicken Sie auf diesen Link, um Ihr Passwort zurückzusetzen:
    </p>
    <p>
        <a href="@Model.DebugLink">@Model.DebugLink</a>
    </p>
}
@* --- ENDE: DEBUG-CODE ANPASSEN --- *@